section.more-events
  .site-container.more-events__container
    h2.more-events__heading.site-second-heading Другие события
    ul.events__list
      each i in Array.from(Array(2).keys())
        li.events__item
          article.event
            .event__block
              span.event__legend 2022
              .event__date
                span.event__date-start 24 Июн
                span.event__date-end — 11 Авг
            .event__block
              header.event__info
                span.event__legend Интенсив
                a.event__link(href="./events-detail.html") XIV Поволжский интенсив «Волжские встречи»
                .event__text-wrapper
                  +icon-mono("arrow-bottom")(class="events__icon" width="24" heihgt="24")
                  p.event__text
                    | Интенсив — это возможность погрузиться в атмосферу личностного и профессионального исследования себя и получить опыт саморазвития
              .event__img-wrapper
                img.lazyload(src="#" data-src="assets/images/event-block/img.jpg" alt="XIV Поволжский интенсив «Волжские встречи»" class="event__img")
    .events__grid-container
      .events__block
      .events__block
        button.events__more-btn.more-events__btn
          | Показать еще
