section.detail-section.top-offset
  .site-container
    .detail-section__grid-container
      .detail-section__block
        a.detail-section__section-name.section-name(href="/")
          | Пресс-центр
          +icon-mono("arrow-long")(width="45" height="8" class="detail-section__section-name-arrow")
      .detail-section__block
        h1.detail-section__heading «Как психолог помогает мне пережить происходящее вокруг?»
    .detail-section__content
      ._block
      ._block
        img(src="assets/images/news/img.jpg" alt="")
        h2 Тема интенсива 2022 года — «SELF как творческий процесс»
        p
          | На интенсиве мы продолжим тему Self как процесса контакта,
          | с вниманием к его творческим аспектам. Осознавание в постоянно меняющемся поле «организм-среда»,
          | ориентация в сложных динамичных соотношениях собственных потребностей, интенций и потенциальных возможностей
          | с учетом обстоятельств жизненного мира, поиск способов взаимодействия в диалоге с другими – все это создает новые фигуры, изменяя фон.
        p
          | На интенсиве мы продолжим тему Self как процесса контакта,
          | с вниманием к его творческим аспектам. Осознавание в постоянно меняющемся поле «организм-среда»,
          | ориентация в сложных динамичных соотношениях собственных потребностей, интенций и потенциальных возможностей
          | с учетом обстоятельств жизненного мира, поиск способов взаимодействия в диалоге с другими – все это создает новые фигуры, изменяя фон.

        .yotube.js-play-video(data-video-url="https://www.youtube.com/watch?v=WsDyRAPFBC8")
          img(src="assets/images/news/img.jpg" class="yotube__preview" alt="Превью для видео")
