.detailed-page-intro {
  background-color: var(--color-grey-300);
  padding-bottom: 14.4rem;
  background-image: url(../images/teacher-bg.svg);
  background-repeat: no-repeat;
  background-size: 98.2rem 30.3rem;
  background-position: bottom left;
  margin-bottom: 12rem;

  @include mq(lg) {
    padding-top: 16rem;
  }

  @include mq(sm) {
    padding-top: 11.2rem;
    margin-bottom: 6rem;
    padding-bottom: 6rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--grid-offset);

    ._block {
      &:nth-child(1) {
        grid-column: 4 span;
      }

      &:nth-child(2) {
        grid-column: 1 span;
      }

      &:nth-child(3) {
        grid-column: 7 span;
      }

      @include mq(lg) {
        grid-column: 12 span !important;

        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  &__image {
    width: 46rem;
    height: 46rem;
    object-fit: cover;
    border-radius: 25.3rem;

    @include mq(md) {
      width: 26rem;
      height: 26rem;
    }

    @include mq(sm) {
      width: 26.5rem;
      height: 26.5rem;
    }
  }

  &__tag {
    display: inline-block;
    margin-bottom: 7.4rem;
    color: var(--color-black);

    @include mq(md) {
      margin-bottom: 3rem;
    }

    &._mobile {
      display: none;

      @include mq(sm) {
        display: inline-block;
      }
    }
  }

  &__heading {
    font: var(--font-h1);
    margin-bottom: 6rem;
    letter-spacing: -0.06em;

    @include mq(sm) {
      font: var(--font-h1-mobile);
      margin-bottom: 2.8rem;
    }
  }

  &__main-info {
    margin: 8rem 0;
    padding: 6rem 0;
    border-top: 1px solid var(--color-black-alfa20);
    border-bottom: 1px solid var(--color-black-alfa20);
    display: flex;

    @include mq(sm) {
      margin: 6rem 0;
      padding: 3rem 0;
      flex-direction: column;
    }
  }

  &__main-info-item {
    margin-right: 6rem;
    max-width: 18rem;
    width: 100%;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(1) {
      max-width: 41rem;
    }

    h4 {
      font: var(--font-h4);
      letter-spacing: -0.02em;

      @include mq(sm) {
        font: var(--font-h3-mobile);
      }
    }

    table {
      max-width: 25.5rem;
      width: 100%;
      margin-top: 3.2rem;

      tr {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.8rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      td {
        font: var(--font-text-t1);
        letter-spacing: -0.02em;
      }

      @include mq(sm) {
        margin-top: 2rem;

        td {
          font: var(--font-text-t1-mobile);
        }
      }
    }

    @include mq(sm) {
      max-width: 100% !important;
      margin-bottom: 3.2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__main-info-legend {
    display: block;
    font: var(--font-text-t1);
    margin-bottom: 1.6rem;
    color: var(--color-black-alfa40);
    letter-spacing: -0.02em;

    @include mq(sm) {
      margin-bottom: 1.2rem;
      font: var(--font-text-t1-mobile);
    }
  }

  &__content {
    max-width: 76.7rem;

    p {
      font: var(--font-h4);
      margin-bottom: 2rem;

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }

      @include mq(sm) {
        font: var(--font-text-t1-mobile);
      }
    }

    a {
      color: var(--color-primary-blue);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    h3 {
      font: var(--font-h2);
      margin: 3rem 0 5.2rem;

      @include mq(sm) {
        font: var(--font-h2-mobile);
        margin: 2rem 0 2.4rem;
      }
    }

    ul {
      margin: 3rem 0;

      li {
        position: relative;
        padding-left: 4rem;
        font: var(--font-h4);
        margin-bottom: 1.5rem;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          position: absolute;
          top: 1.3rem;
          left: 0.4rem;
          width: 0.7rem;
          height: 0.7rem;
          background-color: var(--color-black);
          border-radius: 50%;
          content: "";
        }

        @include mq(sm) {
          font: var(--font-text-t1-mobile);
          margin-bottom: 1rem;
          padding-left: 2.5rem;

          &::before {
            top: 1rem;
            left: 0.5rem;
            width: 0.4rem;
            height: 0.4rem;
          }
        }
      }
    }
  }

  &--education {
    background-image: none;
    padding-bottom: 6.4rem;
  }


  &--teacher-detail {
    .detailed-page-intro__image {
      width: 50.7rem;
      height: 62.1rem;
      border-radius: 1.2rem;
    }


    @include mq(lg) {
      background-image: none;

      .detailed-page-intro__tag {
        display: none;

        &._mobile {
          display: inline-block;
        }
      }

      .detailed-page-intro__image {
        width: 32rem;
        height: 32.9rem;
        border-radius: 1.2rem;
      }
    }
  }
}


.detailed-page {
  position: relative;
  margin-bottom: 12rem;

  @include mq(sm) {
    margin-bottom: 6rem;
  }

  &__heading {
    padding-bottom: 6.8rem;
    margin-bottom: 10rem;
    border-bottom: 1px solid var(--color-black-alfa20);

    @include mq(sm) {
      font: var(--font-h1-mobile);
      padding-bottom: 2.8rem;
      margin-bottom: 4rem;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--grid-offset);

    ._block {
      &:nth-child(1) {
        grid-column: 3 span;
      }

      &:nth-child(2) {
        grid-column: 9 span;
      }

      @include mq(md) {
        grid-column: 12 span !important;

        &:nth-child(1) {
          display: none;
        }
      }
    }
  }

  &__list {
    ul {
      counter-reset: section;

      li {
        padding-bottom: 5.6rem;
        margin-bottom: 5.2rem;
        border-bottom: 1px solid var(--color-black-alfa20);
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-gap: var(--grid-offset);
        font: var(--font-h3);
        letter-spacing: -0.04em;

        strong {
          grid-column: 6 span;
        }

        &::before {
          grid-column: 3 span;
          counter-increment: section;
          content: "0"counter(section);
        }

        &:last-child {
          padding-bottom: 0;
          border: none;
        }

        @include mq(sm) {
          display: block;
          font: var(--font-h3-mobile);
          margin-bottom: 2.4rem;
          padding-bottom: 2.4rem;

          &::before {
            display: block;
            margin-bottom: 1.6rem;
          }
        }
      }
    }
  }

  &__doc-list {
    ul {
      li {
        padding-bottom: 5.6rem;
        margin-bottom: 5.2rem;
        border-bottom: 1px solid var(--color-black-alfa20);
        font: var(--font-h4);
        letter-spacing: -0.04em;

        &:last-child {
          padding-bottom: 0;
          border: none;
        }

        a {
          display: flex;
          align-items: center;

          @include mq(sm) {
            flex-wrap: wrap;
          }

          span {
            display: inline-block;
            max-width: 70%;

            @include mq(sm) {
              max-width: none;
              width: 100%;
              margin-bottom: 1.2rem;
            }
          }

          &:hover {
            .icon,
            .detailed-page__doc-size {
              color: var(--color-primary-blue);
            }

          }
        }

        @include mq(sm) {
          display: block;
          font: var(--font-h3-mobile);
          margin-bottom: 2.4rem;
          padding-bottom: 2.4rem;

          &::before {
            display: block;
            margin-bottom: 1.6rem;
          }
        }
      }
    }
  }

  &__doc-size {
    margin-left: auto;
    margin-right: 4rem;
    color: var(--color-black-alfa20);
    transition: color 200ms ease-in;

    @include mq(sm) {
      margin-left: 0;
    }
  }

  &__doc-icon {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--color-black-alfa20);
    transition: color 200ms ease-in;

    @include mq(sm) {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &__shiled {
    background-color: var(--color-white);
    padding: 5.2rem 8rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--color-black);
    margin-bottom: 2rem;

    @include mq(md) {
      padding: 4.2rem 6rem;
    }

    @include mq(sm) {
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem 2rem 4rem 2rem;
    }
  }

  &__img {
    width: 15rem;
    height: 15rem;

    @include mq(sm) {
      width: 6.5rem;
      height: 6.5rem;
      margin-bottom: 2.4rem;
    }
  }

  &__shiled-text {
    max-width: 77rem;
    font: var(--font-h2);

    span {
      position: relative;
      display: inline-block;
      color: var(--color-secondary-blue);

      &::before {
        position: absolute;
        right: -2rem;
        bottom: -2rem;
        width: 12.1rem;
        height: 1.9rem;
        background-image: url(../images/line-bird.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        content: "";

        @include mq(sm) {
          width: 6.8rem;
          height: 1.1rem;
          right: -1.8rem;
          bottom: -1.8rem;
        }
      }
    }

    @include mq(md) {
      font: var(--font-h3);
    }

    @include mq(sm) {
      font: var(--font-h2-mobile);
      order: 1;
    }
  }

  &__cards-list {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 2rem;

    @include mq(sm) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__cards-item {
    grid-column: 3 span;

    @include mq(sm) {
      grid-column: 2 span;
    }
  }

  .detail-section__content-imgs {
    @include mq(sm) {
      display: grid;
      margin-top: 0;
    }
  }

  &--blue {
    background-color: var(--color-primary-light-blue);
    padding: 12rem 0 16rem;
    color: var(--color-white);

    @include mq(sm) {
      padding: 6rem 0;
    }

    .detailed-page__heading {
      border-color: var(--color-white-alfa20);
    }

    .detailed-page__list {
      ul {
        li {
          border-color: var(--color-white-alfa20);

          &:nth-child(1) {
            padding-top: 6rem;
            border-top: 1px solid var(--color-white-alfa20);

            @include mq(sm) {
              padding-top: 2rem;
            }
          }
        }
      }
    }
  }

  &--education {
    .detailed-page__list {
      margin-bottom: 18rem;

      @include mq(sm) {
        margin-bottom: 6rem;
      }

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }

      ul {
        li {
          &::before {
            grid-column: 2 span;
          }

          &:last-child {
            margin-bottom: 0;
          }

          strong {
            grid-column: 7 span;
          }
        }
      }
    }
  }
}
