extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Об институте"
  - const siteLang = "ru"
  - const name = "about"
  - headerWhite = true

block content
  include pages/about/main.pug
