extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Список литературы"
  - const siteLang = "ru"
  //- - const name = "bibliography"

block content
  include pages/bibliography/main.pug
