extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Образование - детальная"
  - const siteLang = "ru"
  - const name = "education-detail"

block content
  include pages/education-detail/main.pug
