extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Образование"
  - const siteLang = "ru"
  - const name = "education"

block content
  include pages/education/main.pug
