extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Мероприятия детальная"
  - const siteLang = "ru"
  - const name = "events-вуефшд"
  - const headerWhite = true

block content
  include pages/events-detail/main.pug
