extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Преподаватели - детальная"
  - const siteLang = "ru"
  - const name = "teachers-detail"

block content
  include pages/teachers-detail/main.pug
