section.about
  img(src="assets/images/about-top-bg.svg" alt="" class="about__bg-top")
  .site-container
    .grid-container
      .about__block
        span.section-name При поддержке
        img(src="assets/images/somatic.svg" alt="Center for Somatic Studies" class="about__section-image")
      .about__block
        h2.visually-hidden О нас
        p.about__heading
          | Мы продвигаем философию и методологию современной гештальт-терапии, стремимся соответствовать международным стандартам образования в данной области.
        .about__content
          .about__content-block
            p
              | Мы заботимся о том, что бы профессионал, обучающийся в нашем институте, был способен качественно присутствовать рядом с клиентом.
            +button.about__btn.mod-transparent.mod-black
              | Подробнее об институте
          .about__content-block
            .about__content-img-wrapper(style={'background-image': 'url(assets/images/about-img.jpg)'})
