section.catalog
  .site-container
    h2.site-heading.catalog__heading.js-fade-in Обучение гештальт-терапии
    .catalog__container.grid-container
      .catalog__block
        a(href="/")
          +icon-mono("arrow-bottom")(class="catalog__icon" width="24" heihgt="24")
        span.catalog__section-name Институт современной гештальт-терапии предлагает программы базового и специализированного обучения
        +button.catalog__btn.mod-transparent.mod-black Подробнее
      .catalog__block
        h3.catalog__legend #[span Подготовительные курсы]
        ul.catalog__list.js-fade-in(data-intersection-ratio="0.5")
          each i in Array.from(Array(3).keys())
            li.catalog__item
              .card
                span.card__tag caption
                h3.card__heading Курс 1
                .card__info
                  ul.card__info-list
                    li.card__info-item
                      span.card__info-legend Срок обучения
                      span.card__info-text 1 год
                    li.card__info-item
                      span.card__info-legend Стоимость
                      span.card__info-text 40 000 ₽
                  p.card__info-descr
                    | Инновационная специализированная программа,
                    | которая объединяет подготовительный и экспериентальный
                    | уровни обучения гештальт-терапии. и экспериентальный уровни обучения гештальт-терапии.
                .card__btns
                  +button.card__btn Записаться
                  +button.card__btn.mod-transparent.mod-black
                    span.card__btn-txt Подробнее
        h3.catalog__legend #[span Основные направления]
        ul.catalog__list.js-fade-in(data-intersection-ratio="0.5")
          each i in Array.from(Array(3).keys())
            li.catalog__item
              .card
                span.card__tag 1 уровень
                h3.card__heading Основы гештальт-терапии
                .card__info
                  ul.card__info-list
                    li.card__info-item
                      span.card__info-legend Срок обучения
                      span.card__info-text 1 год
                    li.card__info-item
                      span.card__info-legend Стоимость
                      span.card__info-text 40 000 ₽
                  p.card__info-descr
                    | Инновационная специализированная программа,
                    | которая объединяет подготовительный и экспериентальный
                    | уровни обучения гештальт-терапии. и экспериентальный уровни обучения гештальт-терапии.
                .card__btns
                  +button.card__btn Записаться
                  +button.card__btn.mod-transparent.mod-black
                    span.card__btn-txt Подробнее
        h3.catalog__legend #[span Специализации]
        ul.catalog__list.js-fade-in(data-intersection-ratio="0.1")
          each i in Array.from(Array(4).keys())
            li.catalog__item
              .card
                span.card__tag 01
                h3.card__heading Программа подготовки супервизоров
                .card__info
                  ul.card__info-list
                    li.card__info-item
                      span.card__info-legend Срок обучения
                      span.card__info-text 1 год
                    li.card__info-item
                      span.card__info-legend Стоимость
                      span.card__info-text 40 000 ₽
                  p.card__info-descr
                    | Инновационная специализированная программа,
                    | которая объединяет подготовительный и экспериентальный
                    | уровни обучения гештальт-терапии. и экспериентальный уровни обучения гештальт-терапии.
                .card__btns
                  +button.card__btn Записаться
                  +button.card__btn.mod-transparent.mod-black
                    span.card__btn-txt Подробнее
