section.contact-us.lazyload.parallax(data-bg="assets/images/contact.jpg")
  .site-container.contact-us__container
    .contact-us__content
      .contact-us__content-text
        p
          | Начнем достигать результатов вместе
      p.contact-us__info
        | Учиться у нас может любой желающий и не важно какой уровень знаний сейчас присутствует
      +button.contact-us__btn.mod-white
        | Подать заявку
