-
  const nav = [
    'Об институте',
    'Преподаватели',
    'Список литературы',
    'Пресс-центр',
    'Контакты'
  ]

header.header(class={'visually-hidden': name === "main"} class={'header--white': headerWhite})
  .site-container.header__container.grid-container
    .header__block
      a.header__logo(href="/")
        img(src="assets/images/logo.svg" alt="Логотип компании" class="logo-black")
        img(src="assets/images/logo-white.svg" alt="Логотип компании" class="logo-white")
    .header__block
      a(href="./education.html" class="header__legend-link") Образование
      a(href="./events.html" class="header__legend-link") Мероприятия
      nav.header__nav.nav
        ul
          for item in nav
            li #[a(href="/")= item]
      +button(class="header__btn") Учиться
