section.news
  .site-container.news__container
    h2.site-second-heading.news__heading Пресс-центр
    .grid-container.news__container
      .news__block
        .slider-nav.news__nav
          button.slider-nav__btn
            +icon-mono("shevron-left")(width="7" height="14" class="slider-nav__icon")
          button.slider-nav__btn
            +icon-mono("shevron-left")(width="7" height="14" class="slider-nav__icon")
      .news__block
        ul.news__list
          li.news__item
            .news-card
              .news-card__header
                span.news-card__tag 12 ноя 2022
                img(src="assets/images/news-card.jpg" class="news-card__img" alt="«Как психолог помогает мне пережить происходящее вокруг?»")
              a.news-card__link(href="/") «Как психолог помогает мне пережить происходящее вокруг?»
        button.news__btn Смотреть все
