.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  height: var(--header-height);

  .logo-white {
    display: none;
  }

  &__logo {
    display: block;
    max-width: 24.6rem;
  }

  &--white {
    color: var(--color-white);

    .logo-black {
      display: none;
    }

    .logo-white {
      display: block;
    }
  }

  &__block {
    &:nth-child(1) {
      grid-column: 3 span;
    }

    &:nth-child(2) {
      grid-column: 9 span;
      display: flex;
      align-items: center;
    }
  }

  &__legend-link {
    display: inline-block;
    font: var(--font-h4);
    letter-spacing: -0.02em;
    margin-right: 2.4rem;

    &:nth-last-of-type(1) {
      margin-right: 0;
    }
  }

  &__nav {
    margin-left: auto;
  }

  &__btn {
    margin-left: 2.4rem;
  }
}
