.nav {
  ul {
    display: flex;
    align-items: center;

    li {
      margin-right: 2.4rem;

      &:last-child {
        margin-right: 0;
      }

      a {
        font: var(--font-text-t2);

        &:hover {
          color: var(--color-primary-light-blue);
        }
      }
    }
  }
}
