.about {
  position: relative;
  padding-top: 24.7rem;
  margin-bottom: 18.2rem;

  @include mq(lg) {
    padding-top: 12.3rem;
    margin-bottom: 10rem;
  }

  @include mq(sm) {
    margin-bottom: 8.3rem;
  }


  &__bg-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 51.6rem;
    height: 18.7rem;
    object-fit: cover;
    opacity: 0.1;
    user-select: none;
    border-radius: 0 0 14.3rem 0;

    @include mq(md) {
      display: none;
    }
  }

  &__block {
    &:nth-child(1) {
      grid-column: 3 span;

      @include mq(md) {
        display: none;
      }
    }

    &:nth-child(2) {
      grid-column: 9 span;
    }
  }

  &__section-image {
    padding-left: 2rem;
    width: 14rem;
    height: auto;
    object-fit: cover;
  }

  &__heading {
    font: var(--font-h2);
    margin-bottom: 6.4rem;
    letter-spacing: -0.06em;
    max-width: 103.3rem;

    @include mq(md) {
      font: var(--font-h3);
      margin-bottom: 4rem;
    }

    @include mq(sm) {
      font: var(--font-h2-mobile);
      margin-bottom: 2.4rem;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: var(--grid-offset);

    p {
      font: var(--font-text-t1);
      letter-spacing: -0.02em;

      @include mq(sm) {
        font: var(--font-text-t1-mobile);
      }
    }

    @include mq(md) {
      display: block;
    }
  }

  &__content-block {
    &:nth-child(1) {
      grid-column: 3 span;
    }

    &:nth-child(2) {
      grid-column: 6 span;
    }
  }

  &__btn {
    margin-top: 4rem;

    @include mq(sm) {
      margin-top: 2.4rem;
    }
  }

  &__content-img-wrapper {
    width: auto;
    height: 49.4rem;
    background-position: left center;
    background-repeat: repeat;
    background-size: contain;
    border-radius: 24.7rem 0px 0px 24.7rem;
    margin-right: -100%;

    @include mq(md) {
      display: none;
    }

    &._mobile {
      display: none;

      @include mq(md) {
        display: block;
        margin-bottom: 4rem;
      }

      @include mq(sm) {
        height: 26.2rem;
        margin-bottom: 4rem;
      }
    }
  }

  &__mobile-text-wrapper {
    display: none;
    justify-content: flex-end;
    margin-bottom: 4rem;
    max-width: 70%;
    margin-left: auto;

    @include mq(md) {
      display: flex;
    }
  }

  &__mobile-text {
    position: relative;
  }

  &__mobile-logo {
    display: none;
    position: absolute;
    top: 3rem;
    left: 7%;
    width: 12rem;
    height: 12rem;
    margin-right: 2.4rem;
    flex-shrink: 0;

    @include mq(md) {
      display: block;
    }
  }

  &__mobile-logo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotate 20s linear infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }

  &__mobile-logo-inner {
    position: absolute;
    top: 54%;
    left: 50%;
    width: 4.5rem;
    height: 4.3rem;
    transform: translate(-50%, -50%);
  }
}
