section.detailed-page
  .site-container
    h2.detailed-page__heading.site-second-heading Специализации
    .detailed-page__container
      ._block
      ._block
        .detailed-page__list
          ul
            li #[strong Когнитивная психология]
            li #[strong Социальная психология ]
            li #[strong Психология личности и индивидуальных различий ]
