section.detailed-page
  .site-container
    h2.detailed-page__heading.site-second-heading Специализации
    .detailed-page__container
      ._block
      ._block
        .detailed-page__list
          ul
            li #[strong Когнитивная психология]
            li #[strong Социальная психология ]
            li #[strong Психология личности и индивидуальных различий ]

section.detailed-page
  .site-container
    h2.detailed-page__heading.site-second-heading Документы
    .detailed-page__container
      ._block
      ._block
        .detailed-page__doc-list
          ul
            li
              a(href="")
                span Санитарно-эпидемиологические заключения
                .detailed-page__doc-size (pdf, 28Кб)
                +icon-mono("arrow-top-big")(class="detailed-page__doc-icon" width="25" height="25")
            li
              a(href="")
                span Свидетельства о постановке на учет в налоговом органе Свидетельства о постановке на учет в налоговом органе
                .detailed-page__doc-size (pdf, 28Кб)
                +icon-mono("arrow-top-big")(class="detailed-page__doc-icon" width="25" height="25")
