section.top-offset.detailed-page-intro
  .site-container.detailed-page-intro__container
    ._block
      img.detailed-page-intro__image(src="assets/images/teacher/img2.jpg" alt="")
    ._block
    ._block
      a.detailed-page-intro__tag.section-name(href="/") Преподаватели
      h1.detailed-page-intro__heading Нона Аракелян
      .detailed-page-intro__content
        p К.псих.наук, клинический психолог, директор Поволжского института гештальт-терапии, член EAGT, AAGT
